comfy-3d-viewers==0.2.44
trimesh[easy]>=4.0.0
numpy
scipy
libigl
hf_xet
av
psutil
comfy-aimdo
comfy-sparse-attn==0.0.9
transformers
pytorch-lightning
timm
einops
addict
omegaconf
huggingface_hub
wandb
fast-simplification
pyrender
pccm
shapely
